body{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size:100% 100%;
}


h1{
    font-family: "Kablammo", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "MORF" 0;
    color:yellow;
}

h3{
    font-family: "Story Script", sans-serif;
    color:rgb(181, 96, 203);
}

#bttn{
    font-family: "Story Script", sans-serif;
    background-color: green;
    color:aquamarine;
}

#image{
    height:250px;
    width:250px;
}
