body{
    background-image: url("background.jpg");
}






h1{
    font-family: "Kablammo", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "MORF" 0;
    color:yellow;
}

h3{
    font-family: "Story Script", sans-serif;
    color:white;
}

#bttn{
    font-family: "Story Script", sans-serif;
    background-color: green;
    color:aquamarine;
}